<header>
 {{> public-navbar}}
</header>

<main>
  

  <div class="video-container">

    <video id="video_background" autoplay loop muted preload="auto">
      <source src="/assets/img/background.mp4" type="video/mp4">

      Video not supported
    </video>
    
    <section class="container" id="search-container">
      <div class="jumbotron-styling m-3 jumbotron-home-card" id="start-search">
        <h1 class="display-4 pink-text"> Flipped </h1>
        <p class="lead">
          Sign in to use Flipped on the web.
        </p>

        <hr class="my-4" />
        <h5> Love at first swipe </h5>
        <div class="profile-links mt-4">
          <a type="button" id="no" href="/login" class="btn text-btn">Log in</a>
          <a type="button" id="yes" href="/signup" class="btn text-btn"> Sign up</a>
        </div>
      </div>
      
    </section>
</main>