<header>
  {{> private-navbar}}
</header>

<main class="container">
  <section id="search-container">
    <div class="jumbotron-styling m-3" id="start-search">
      <h1 class="display-4 pink-text">Hello {{name}}!</h1>
      <p class="lead">
        Your adventure starts here...
      </p>
      <hr class="my-4" />
      <h5>Are you ready to mingle?</h5>
      <button class="btn btn-styling mt-2" id="search-start-btn">
        Search for your next date!
      </button>
  </section>
  <div id="modal-container"></div>
  <div id="restart-container"></div>
</main>